* {
    box-sizing: border-box;
} 

body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

ul {
    display: flex;
    gap: 16px;
    list-style-type: none;
}

.more {
    width: 95px;

}

.header {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: paleturquoise;
    padding: 25px 100px;
    
}

.header-top {
    display: flex;
    flex: 1;
    justify-content: space-between;
}

.header-content {
    display: flex;
    justify-content: space-between;
}

.hero-text {
    display: flex;
    flex-direction: column;
    width: 600px;
    flex-basis: auto;
}

.placeholder {
    display: flex;
    flex-direction: column;
    width: 600px;
    flex-basis: auto;
    justify-content: center;
    align-items: center;
    background-color: cornflowerblue;
}

.information {
    display: flex;
    justify-content: center;
}

.icons-captions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-bottom: 100px;
}

.stack {
    display: flex;
    flex-wrap: wrap;
    width: 200px; 
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    text-align: center;
}

.box {
    width: 200px;
    height: 200px;
    border-style: solid;
    border-color:blue;
    border-width: 4px;
    border-radius: 30%;
}

.quote-box {
    display: flex;
    flex: 1;
    background-color: lightgray;
    padding: 50px 200px;
    gap: 30px;
}

.quote {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

.cta {
    display: flex;
    width: 600px;
}